body {
  margin: 0;
  background:white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-page {
  width: 800px;
  height: 500px;
  background: #c9def2;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.chat-input{
  padding: 10px;
  font-size: 16px;
  width: 500px;
  height: 40px;
}

.send-button{
  width: 80px;
  height: 40px;
  background: #f6f5b0;
  color: black;
}

.reply-box{
  width: 700px;
  height: 400px;
  background: white;
  color: black;
  padding: 15px;
}

.title{
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}